.footer-container {
  justify-content: space-between;
  align-items: center;
  display: flex;
  flex-direction: row;
  margin-top: 20px;
}

.middle-section {
  display: flex;
  flex-direction: row;
}
