.list-units {
  width: 100%;
  display: flex;
  flex-direction: row;
  border-radius: 10px;
  margin-bottom: 8px;
  align-items: center;
  height: 30px;
}

.checkbox-div {
  margin-right: 0px;
  padding-right: 10px;
}

.text-undone {
  font-size: 10;
}
.text-done {
  text-decoration: line-through;
}

.edit-input {
  background-color: #edf5f9;
  border-width: 0;
  font-size: 10;
  outline-style: none;
  color: tomato;
}
